<app-sidebar></app-sidebar>
<body>
  <div>
      <div class="row">
          <div class="col-lg-12">
              <div class="panel panel-default">
                  <div class="panel-heading">
                      <h3>Launches</h3>
                  </div>
                  <div class="panel-body">
                      <div class="dataTable_wrapper">
                          <table class="table table-striped table-bordered table-hover">
                              <thead>
                                  <tr>
                                      <th>Flight number</th>
                                      <th>Launch date </th>
                                      <th>Rocket name</th>
                                      <th>Launch site</th>
                                  </tr>
                              </thead>
                              <tbody>
                                  <tr *ngFor="let launchDetails of launchDetails" class="odd gradeX">
                                      <!-- <td [routerLink]="['/details/action',action.id]">
                                          <span> {{action.name}} </span>
                                      </td> -->
                                      <td>
                                          <span>{{launchDetails.flight_number}}</span>
                                      </td>
                                      <td>
                                          <span>{{launchDetails.launch_date_utc}}</span>
                                      </td>
                                      <td [routerLink]="['/vehicle',launchDetails.rocket.rocket_id]">
                                          <span>{{launchDetails.rocket.rocket_name}}</span>
                                      </td>
                                      <td [routerLink]="['/launchpad',launchDetails.launch_site.site_id]">
                                        <span>{{launchDetails.launch_site.site_name}}</span>
                                    </td>
                                  </tr>   
                                
                              </tbody>
                          </table>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</body>